:root {
  --main-bg-color: brown;
  --main-padding: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: dodgerblue;
}

.centered-text {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}
